body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(122, 85, 55);
  color: wheat;
  padding: 1.5em;
  border-radius: 64px;
}

.chicken {
  width: 100px;
  height: 100px;
  position: relative;
  animation-name: slide;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  z-index: 1;
}

@keyframes slide {
0%   {left:-50px; top:0px;}
25%  { left:200px; top:0px;}
50% {opacity: 0;}
}

h1 {
  font-size: 4em;
  margin-bottom: 0;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(203, 205, 216);
  color: rgb(183, 21, 23);
  width: 100%;
}

ul {
  display: flex;
  justify-items: center;
  list-style-type: none;
}

li a:hover {
  color: rgb(55, 86, 76);
}

a, a:visited{
  text-decoration: none;
  color: rgb(183, 21, 23);
}

li {
  padding: 1em;
}

.content {
  display: flex;
}

.text-box {
  padding: .5em;
  margin: 1em;
}

img {
  width: 70%;
}

span {
  color: rgb(183, 21, 23);
}

.tag-line {
  color: rgb(55, 86, 76);
  font-size: 24px;
}

footer {
  background-color: rgb(203, 205, 216);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.disclaimer {
  font-size: 10px;
}
